@import './vars.scss';

.text-red {
    color: $color-red;
}
.text-green {
    color: $color-green;
}
.text-blue {
    color: $color-blue;
}
.text-yellow {
    color: $color-yellow;
}
.text-grey {
    color: $color-grey;
}