$color-blue: #4258f4;
$color-yellow: #fbbc05;
$color-red: #ea4335;
$color-green: #34a853;
$color-grey: #f2f2f2;

.text-red {
    color: $color-red;
}
.text-green {
    color: $color-green;
}
.text-blue {
    color: $color-blue;
}
.text-yellow {
    color: $color-yellow;
}
.text-grey {
    color: $color-grey;
}