@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100i');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300i');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400i');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:600');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:600i');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:700');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:700i');
@import './generic.scss';
@import './header.scss';
@import './footer.scss';
@import './form.scss';

body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans';
}

.banner {
    background: url('../assets/png/banner.png') no-repeat center center;
    background-size: cover;
    min-height: 605px;
    color: white;
    .banner-text {
        margin-top: 130px;
        h1 {
            display: inline-block;
            margin: 15px 20px;
        }
        h3{
            display: inline-block;
            margin: 10px 20px;
        }
    }
}