@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100i");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300i");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400i");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:600");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:600i");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:700");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:700i");
@import "./vars.scss";
@import "./generic.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./form.scss";
@import "./home.scss";
@import "./search.scss";
@import "./jobOpening.scss";
@import "./login.scss";
@import "./signup.scss";

body {
  font-family: "Josefin Sans";
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

@media screen and (max-width: 767px) {
  body {
    text-align: center;
    .hiring{
      text-align: center;
      .steps{
        padding: 1em 2.5em;
      }
    }
  }
}

h1 {
  font-size: 28px;
}

.section {
  padding: 40px 0px;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .banner {
    display: none;
  }
}
.hiring {
  text-align: right;
  .steps {
    padding: 2.5em;
    border-bottom: 2px solid transparent;
  }
  .steps:hover {
    box-shadow: 1px 5px 20px 5px #ccc;
    cursor: pointer;
    border-bottom: 3px solid #00bfff;
  }
  .steps:hover h3 {
    color: #00bfff;
  }
}
.m0 {
  margin: 0px !important;
}
.p0 {
  padding: 0px !important;
}
.p-10 {
  padding: 10px;
}
.m-10 {
  margin: 10px;
}