@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100i");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300i");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400i");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:600");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:600i");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:700");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:700i");
@import "./vars.scss";
@import "./generic.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./form.scss";
@import "./home.scss";
@import "./search.scss";
@import "./jobOpening.scss";

body {
  font-family: "Josefin Sans";
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
.m0{
    margin: 0px !important;
}
.p0{
    padding: 0px !important;
}
.p-10{
    padding: 10px;
}
.m-10{
    margin: 10px;
}