.header {
  padding: 15px 40px 12px; }
  .header .brand-name {
    position: relative;
    font-size: 30px;
    display: inline-block; }
  .header .button-group {
    position: relative;
    display: inline-block;
    float: right;
    right: 2vw; }
    .header .button-group button {
      margin: 3px 5px; }
