@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100i");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300i");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400i");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:600");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:600i");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:700");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:700i");
.text-red {
  color: #ea4335; }

.text-green {
  color: #34a853; }

.text-blue {
  color: #4285f4; }

.text-yellow {
  color: #fbbc05; }

.text-grey {
  color: #f2f2f2; }

.header {
  padding-left: 20px;
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
  border-bottom: 1px solid #e3e3e3; }
  .header .brand-name {
    position: relative;
    font-size: 35px;
    display: inline-block; }
  .header .button-group {
    position: relative;
    display: inline-block;
    float: right;
    right: 2vw; }
    .header .button-group button {
      margin: 3px 5px; }

footer {
  background-color: #4285f4;
  color: #ffffff; }
  footer .row {
    padding: 4em 0; }
  footer .col-2 a {
    color: #ffffff;
    line-height: 2rem; }
  footer .footer-right {
    display: table;
    margin: 0 auto; }
    footer .footer-right h1 {
      font-weight: bolder;
      font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace; }

.footer-mobile {
  background-color: #4285f4;
  color: #ffffff;
  text-align: center;
  padding: 30px 0px; }
  .footer-mobile .container {
    text-align: center; }
    .footer-mobile .container .pickk-contact-footer {
      margin: auto; }
    .footer-mobile .container .footer-right {
      text-align: left; }
    .footer-mobile .container .footer-bottom-section {
      margin: 20px 0px;
      text-decoration: underline; }
      .footer-mobile .container .footer-bottom-section span {
        margin: 10px;
        cursor: pointer; }

.button {
  border: 0;
  background: transparent;
  border-radius: 4px;
  outline: none;
  padding: 6px 20px 4px; }
  .button.blue {
    color: #4285f4;
    border-color: #4285f4; }
  .button.yellow {
    color: #fbbc05;
    border-color: #fbbc05; }
  .button.bg-blue {
    color: white;
    background-color: #4285f4;
    border-color: #4285f4; }
  .button.bg-yellow {
    color: white;
    background-color: #fbbc05;
    border-color: #fbbc05; }

.banner {
  background: url("../assets/png/banner.png") no-repeat center center;
  background-size: cover;
  min-height: 605px;
  color: white; }
  .banner .banner-text {
    margin-top: 130px; }
    .banner .banner-text h1 {
      display: inline-block;
      margin: 15px 20px; }
    .banner .banner-text h3 {
      display: inline-block;
      margin: 10px 20px; }

.sign-in-page {
  background: #f7f7f7; }
  .sign-in-page .page-content {
    margin: 40px 0px; }
    .sign-in-page .page-content .sign-in-role-container {
      text-align: center;
      padding-top: 20px;
      border: 1px solid #d5d5d5;
      transition: box-shadow 0.4s ease-in-out; }
      .sign-in-page .page-content .sign-in-role-container:hover {
        cursor: pointer;
        box-shadow: 0px 1px 30px 5px #e1e1e1; }
    .sign-in-page .page-content img {
      border-radius: 50%; }
    .sign-in-page .page-content .role-name {
      font-size: 20px;
      font-weight: 500;
      margin: 20px auto; }

.search-container {
  margin: 0 100px; }
  @media screen and (max-width: 768px) {
    .search-container {
      margin: 0 auto; } }
  .search-container .outer {
    margin: 5em auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    padding: 2em; }
    .search-container .outer h1 {
      font-size: 32px;
      margin-bottom: 24px;
      font-weight: bold; }
    .search-container .outer .titles {
      position: relative;
      border-bottom: 0.09rem solid #fff;
      padding-bottom: 10px; }
      .search-container .outer .titles span {
        display: inline-block;
        min-width: 20%;
        text-align: center;
        padding: 0 .7vw; }
      .search-container .outer .titles .arrow {
        position: absolute;
        display: block;
        height: 10px;
        width: 10px;
        transition: 0.4s;
        border-left: 0.09rem solid #fff;
        bottom: -5px;
        transform: rotate(45deg);
        border-top: 0.09rem solid #fff;
        background: #012e4b;
        margin-left: 60px; }
    .search-container .outer .form-group {
      text-align: center;
      margin-bottom: 3em; }
    .search-container .outer .form {
      height: 60px;
      z-index: 2;
      position: relative;
      border: 1px solid #4285f4; }
      .search-container .outer .form.search-bar-fixed {
        position: fixed;
        top: 8px; }
      .search-container .outer .form .keyword, .search-container .outer .form .loc, .search-container .outer .form .search-btn {
        outline: none; }
      .search-container .outer .form .keyword, .search-container .outer .form .loc {
        -webkit-appearance: none;
        padding: 0 20px;
        font-size: 16px;
        border: 1px solid #f2f2f2;
        line-height: 24px;
        box-shadow: none;
        min-width: 0; }
      .search-container .outer .form .keyword {
        -webkit-box-flex: 3;
        flex: 3;
        border-right: none;
        border-radius: 2px 0 0 2px; }
      .search-container .outer .form .loc {
        -webkit-box-flex: 2;
        flex: 2;
        border: 1px solid #f2f2f2;
        border-radius: 0;
        box-sizing: border-box; }
      .search-container .outer .form .search-btn {
        background-color: #4285f4;
        border: 0;
        border-radius: 0 2px 2px 0;
        width: 60px;
        overflow: hidden;
        cursor: pointer; }
        .search-container .outer .form .search-btn i {
          font-size: 20px;
          color: white; }
  .search-container span {
    cursor: pointer; }
  @media screen and (max-width: 600px) {
    .search-container .titles {
      display: none; } }

.job-opening {
  background: #f7f7f7; }
  .job-opening .page-header {
    margin: 15px 0px; }
  .job-opening .page-content {
    margin: 40px 0px; }
  .job-opening .tile.row {
    align-items: baseline;
    padding: 15px;
    color: #262626;
    background: #ffffff;
    margin: 7px 0px;
    border: 1px solid #FFF; }
    @media screen and (max-width: 575px) {
      .job-opening .tile.row .description {
        text-align: center; } }
    .job-opening .tile.row:hover {
      border: 1px solid #4285f4; }
      .job-opening .tile.row:hover .action-button button {
        border: 2px solid #1c53ad;
        background: #1c53ad;
        color: #fff;
        box-shadow: 4px 4px 10px 0px #4285f4; }
      .job-opening .tile.row:hover .description,
      .job-opening .tile.row:hover .location {
        color: #4285f4; }
    .job-opening .tile.row .location {
      text-align: center;
      color: #838686; }
    .job-opening .tile.row .action-button {
      text-align: center; }
      .job-opening .tile.row .action-button button {
        border-radius: 23px;
        outline: none;
        cursor: pointer;
        background: #ffffff;
        border: 2px solid #262626;
        color: #262626; }

.login {
  max-width: 450px; }
  .login .outer {
    width: fit-content;
    border: 0;
    border-radius: 5px;
    border-bottom: 3px solid #00bfff;
    margin: 15vh auto 0;
    padding: 2em 1em 3em;
    box-shadow: 0px 1px 1px 1px #ccc; }
  .login .form-group {
    text-align: center; }
    .login .form-group img {
      margin-bottom: 3em;
      height: 150px;
      width: 150px;
      border-radius: 50%;
      background: grey; }
    .login .form-group .login-with {
      font-size: 20px; }
    .login .form-group input {
      display: block;
      margin: 0 auto;
      width: 302px;
      margin-bottom: 1rem;
      text-align: left;
      box-shadow: none;
      border: 0px solid #ccc;
      border-radius: 3px;
      padding: 0.25rem 1rem;
      outline: 0;
      border-bottom: 1px solid grey; }
    .login .form-group button {
      border: 0;
      border-radius: 3px;
      outline: 0; }
  .login .icons {
    padding: 0 50px;
    height: 50px;
    display: flex; }
    .login .icons a {
      padding-left: 10px;
      padding-right: 10px; }
    .login .icons img {
      display: inline-block;
      width: 100%;
      margin: auto;
      text-align: center;
      border-radius: 50%; }
      .login .icons img:hover {
        transform: scale(1.2); }

.container.signup h1 {
  text-align: center; }

.container.signup .left {
  float: left;
  text-align: center;
  border-right: 1px solid #aaa; }
  .container.signup .left img {
    margin-bottom: 3em;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: grey; }
  .container.signup .left p {
    text-align: center; }
    .container.signup .left p a {
      color: #000;
      font-weight: 700; }
    .container.signup .left p a:hover {
      text-decoration: none; }
  .container.signup .left form input {
    display: block;
    padding: 0.5rem 1rem;
    margin: 0 auto;
    width: 60%;
    margin-bottom: 1rem;
    border: 1px solid #aaa;
    background: #fff;
    color: #000;
    -webkit-text-fill-color: #000;
    outline: none; }

.container.signup .right {
  float: right; }
  .container.signup .right .links {
    width: 50%;
    margin: 0 auto;
    border: 1px solid #aaa;
    text-align: center; }

body {
  font-family: "Josefin Sans";
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden; }

@media screen and (max-width: 767px) {
  body {
    text-align: center; }
    body .hiring {
      text-align: center; }
      body .hiring .steps {
        padding: 1em 2.5em; } }

h1 {
  font-size: 28px; }

.section {
  padding: 40px 0px;
  margin: auto; }

@media screen and (max-width: 600px) {
  .banner {
    display: none; } }

.hiring {
  text-align: right; }
  .hiring .steps {
    padding: 2.5em;
    border-bottom: 2px solid transparent; }
  .hiring .steps:hover {
    box-shadow: 1px 5px 20px 5px #ccc;
    cursor: pointer;
    border-bottom: 3px solid #00bfff; }
  .hiring .steps:hover h3 {
    color: #00bfff; }

.m0 {
  margin: 0px !important; }

.p0 {
  padding: 0px !important; }

.p-10 {
  padding: 10px; }

.m-10 {
  margin: 10px; }
