.job-opening {
  background: #f7f7f7; }
  .job-opening .page-header {
    margin: 15px 0px; }
  .job-opening .page-content {
    margin: 40px 0px; }
  .job-opening .tile.row {
    align-items: baseline;
    padding: 15px;
    color: #262626;
    background: #ffffff;
    margin: 7px 0px;
    border: 1px solid #FFF; }
    @media screen and (max-width: 575px) {
      .job-opening .tile.row .description {
        text-align: center; } }
    .job-opening .tile.row:hover {
      border: 1px solid #4285f4; }
      .job-opening .tile.row:hover .action-button button {
        border: 2px solid #1c53ad;
        background: #1c53ad;
        color: #fff;
        box-shadow: 4px 4px 10px 0px #4285f4; }
      .job-opening .tile.row:hover .description,
      .job-opening .tile.row:hover .location {
        color: #4285f4; }
    .job-opening .tile.row .location {
      text-align: center;
      color: #838686; }
    .job-opening .tile.row .action-button {
      text-align: center; }
      .job-opening .tile.row .action-button button {
        border-radius: 23px;
        outline: none;
        cursor: pointer;
        background: #ffffff;
        border: 2px solid #262626;
        color: #262626; }
