.login {
  max-width: 450px; }
  .login .outer {
    width: fit-content;
    border: 0;
    border-radius: 5px;
    border-bottom: 3px solid #00bfff;
    margin: 15vh auto 0;
    padding: 2em 1em 3em;
    box-shadow: 0px 1px 1px 1px #ccc; }
  .login .form-group {
    text-align: center;
    margin-bottom: 3em; }
    .login .form-group img {
      margin-bottom: 3em;
      height: 150px;
      width: 150px;
      border-radius: 50%;
      background: grey; }
    .login .form-group input {
      display: block;
      margin: 0 auto;
      width: 302px;
      margin-bottom: 1rem;
      text-align: left;
      box-shadow: none;
      border: 0px solid #ccc;
      border-radius: 3px;
      padding: 0.25rem 1rem;
      outline: 0;
      border-bottom: 1px solid grey; }
    .login .form-group button {
      border: 0;
      border-radius: 3px;
      outline: 0; }
  .login .icons {
    padding: 0 50px;
    height: 50px;
    display: flex; }
    .login .icons img {
      display: inline-block;
      width: 9%;
      margin: auto;
      text-align: center;
      border-radius: 50%; }
      .login .icons img:hover {
        transform: scale(1.2); }
